{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-3">&nbsp;</div>
        <div class="col-md-6">
            <div class="bg-light py-3 px-3">
                <h1>Register</h1>

                {{ form_start(form) }}
                {# {{ form_widget(form) }} #}
                {{ form_row(form.username) }}
                {{ form_row(form.email) }}
                {{ form_row(form.plainPassword) }}
                {# {{ form_row(form.picture.vars.prototype) }} #}
                {{ form_row(form.picture) }}
                {# {{ form_row(form.picture) }} #}
                <button type="submit" class="btn btn-success">Register</button>
                {{ form_end(form) }}

            </div>
        </div>
    </div>

{% endblock %}