{# Add Collection Pictures Form #}
{% block _trick_pictures_widget %}
    {{ form_widget(form) }}

    <input type="hidden" id="widgets-counter" value="0">

    <div class="form-group">
        <button type="button" id="add-picture" class="btn btn-primary">Nouvelle image</button>
    </div>
{% endblock %}

{% block _trick_pictures_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _trick_pictures_entry_widget %}
    <div class="form-group" id="block_picture_{{id}}">
        <div class="row">
            <div class="col-10">
                <div class="row">
                    <div class="col">
                        {{ form_widget(form.name) }}
                        {{ form_errors(form.name) }}
                    </div>
                </div>
            </div>
            <div class="col-2">
                <button type="button" data-action="delete" data-target="#block_picture_{{id}}" class="btn btn-danger">X</button>
            </div>
        </div>
    </div>
{% endblock %}


{# Add Collection Videos Form #}
{% block _trick_videos_widget %}

    {{ form_widget(form) }}

    <input type="hidden" id="widgets-counter" value="0">

    <div class="form-group">
        <button type="button" id="add-video" class="btn btn-primary">Nouvelle video</button>
    </div>
{% endblock %}

{% block _trick_videos_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _trick_videos_entry_widget %}
    <div class="form-group" id="block_video_{{id}}">
        <div class="row">
            <div class="col-10">
                <div class="row">
                    <div class="col">
                        {{ form_widget(form.url) }}
                        {{ form_errors(form.url) }}
                    </div>
                </div>
            </div>
            <div class="col-2">
                <button type="button" data-action="delete" data-target="#block_video_{{id}}" class="btn btn-danger">X</button>
            </div>
        </div>
    </div>
{% endblock %}